body {
  font-family: arial;
  background: linear-gradient(#134F45, #222F48) fixed;
}

/* Header */
.headerBar {
  display: flex;
  position: top;
  background-color: #2E9F61;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.headerBar a {
  color: #FFFFFF;
  max-width: 80%;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 25%;
  padding-top: 15px;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.headerBar a:hover {
  background-color: #67cb94;
  border-radius: 20px;
}

/*main contents*/
.mainBody {
  font-size: 14px;
}

.centerObject {
  text-align: center;
}

#picProfile {
  width: 298px;
  height: 290px;
  border-radius: 210px;
}

#glassBackground {
  background-color: #0000004f;
  width: 80%;
  height: 300px;
  bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.glassText {
  display: block;
  color: #FFFFFF;
  padding-top: 3%;
  padding-bottom: 3%;
  bottom: 90px;
}

#glassTextBottom {
  padding-bottom: 20%;
}