body {
  font-family: arial;
  background: linear-gradient(#134F45, #222F48);
}

/*header*/
.headerBar {
  position: top;
  background-color: #2E9F61;
  border-radius: 20px;
  width: 80%;
  height: 50px;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
}

.headerBar a {
  position: relative;
  text-align: center;
  padding: 15px 55px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
}

#contactsHeader {
  float: right;
  width: auto;
  margin-right: 20px;
}

.headerBar a:hover {
  background-color: #67cb94;
  border-radius: 20px;
}

/*main contents*/
.mainBody {
  font-size: 14px;
}

.homeCenter {
  text-align: center;
}

#homeProf {
  width: 298px;
  height: 290px;
  border-radius: 210px;
}

#glassBackground {
  position: static;
  background-color: #0000004f;
  width: 920px;
  height: 140px;
  bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

#glassTextName,
#glassTextJob {
  color: #FFFFFF;
  padding-top: 3%;
  opacity: 1;
}

#homeProf:hover ~ #glassBackground {
  opacity: 1;
  transition: 0.2s;
}

#Projects {
  color: #FFFFFF;
}

#robotImg {
  width: 250px;
}

#paraEdit {
  font-size: 18px;
}

.photos {
  display: block;
}

#ptext {
  color: white;
}